# Virtual environments
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks
.ipynb_checkpoints/

# Data
data/
!data/.gitkeep

# Models
models/
*.joblib
*.pkl
/models/
!models/.gitkeep

# System / IDE
.DS_Store
.vscode/
.idea/

# Logs / reports
*.log
reports/figures/